<tr>
  <th scope="row"><%= t("business_name") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:business_name] %></td>
</tr>
<tr>
  <th scope="row"><%= t("name") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:name] %></td>
</tr>
<tr>
  <th scope="row"><%= t("address") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:address] %></td>
</tr>
<tr>
  <th scope="row"><%= t("city") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:city] %></td>
</tr>
<tr>
  <th scope="row"><%= t("state") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:state] %></td>
</tr>
<tr>
  <th scope="row"><%= t("zip") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:zip] %></td>
</tr>
<tr>
  <th scope="row"><%= t("country") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:country] %></td>
</tr>
<tr>
  <th scope="row"><%= t("phone") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:phone] %></td>
</tr>
<tr>
  <th scope="row"><%= t("cellphone") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:cellphone] %></td>
</tr>
<tr>
  <th scope="row"><%= t("bank_name") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:bank_name] %></td>
</tr>
<tr>
  <th scope="row"><%= t("bank_address") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:bank_address] %></td>
</tr>
<tr>
  <th scope="row"><%= t("bank_account_id") %>:</th>
  <td><%= Spree::MoreGeneralSettings::Config[:bank_account_id] %></td>
</tr>
